In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("data.csv")

In [3]:
df.head()

,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo
0,0.0594,1921,0.982,"['Sergei Rachmaninoff', 'James Levine', 'Berli...",0.279,831667,0.211,0,4BJqT0PrAfrxzMOxytFOIz,0.878000,10,0.665,-20.096,1,"Piano Concerto No. 3 in D Minor, Op. 30: III. ...",4,1921,0.0366,80.954
1,0.9630,1921,0.732,['Dennis Day'],0.819,180533,0.341,0,7xPhfUan2yNtyFG0cUWkt8,0.000000,7,0.160,-12.441,1,Clancy Lowered the Boom,5,1921,0.4150,60.936
2,0.0394,1921,0.961,['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...,0.328,500062,0.166,0,1o6I8BglA6ylDMrIELygv1,0.913000,3,0.101,-14.850,1,Gati Bali,5,1921,0.0339,110.339
3,0.1650,1921,0.967,['Frank Parker'],0.275,210000,0.309,0,3ftBPsC5vPBKxYSee08FDH,0.000028,5,0.381,-9.316,1,Danny Boy,3,1921,0.0354,100.109
4,0.2530,1921,0.957,['Phil Regan'],0.418,166693,0.193,0,4d6HGyGT8e121BsdKmw9v6,0.000002,3,0.229,-10.096,1,When Irish Eyes Are Smiling,2,1921,0.0380,101.665

In [4]:
df.tail()

,valence,year,acousticness,artists,danceability,duration_ms,energy,explicit,id,instrumentalness,key,liveness,loudness,mode,name,popularity,release_date,speechiness,tempo
170648,0.608,2020,0.08460,"['Anuel AA', 'Daddy Yankee', 'KAROL G', 'Ozuna...",0.786,301714,0.808,0,0KkIkfsLEJbrcIhYsCL7L5,0.000289,7,0.0822,-3.702,1,China,72,2020-05-29,0.0881,105.029
170649,0.734,2020,0.20600,['Ashnikko'],0.717,150654,0.753,0,0OStKKAuXlxA0fMH54Qs6E,0.000000,7,0.1010,-6.020,1,Halloweenie III: Seven Days,68,2020-10-23,0.0605,137.936
170650,0.637,2020,0.10100,['MAMAMOO'],0.634,211280,0.858,0,4BZXVFYCb76Q0Klojq4piV,0.000009,4,0.2580,-2.226,0,AYA,76,2020-11-03,0.0809,91.688
170651,0.195,2020,0.00998,['Eminem'],0.671,337147,0.623,1,5SiZJoLXp3WOl3J4C8IK0d,0.000008,2,0.6430,-7.161,1,Darkness,70,2020-01-17,0.3080,75.055
170652,0.642,2020,0.13200,"['KEVVO', 'J Balvin']",0.856,189507,0.721,1,7HmnJHfs0BkFzX4x8j0hkl,0.004710,7,0.1820,-4.928,1,Billetes Azules (with J Balvin),74,2020-10-16,0.1080,94.991

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170653 entries, 0 to 170652
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   valence           170653 non-null  float64
 1   year              170653 non-null  int64
 2   acousticness      170653 non-null  float64
 3   artists           170653 non-null  object
 4   danceability      170653 non-null  float64
 5   duration_ms       170653 non-null  int64
 6   energy            170653 non-null  float64
 7   explicit          170653 non-null  int64
 8   id                170653 non-null  object
 9   instrumentalness  170653 non-null  float64
 10  key               170653 non-null  int64
 11  liveness          170653 non-null  float64
 12  loudness          170653 non-null  float64
 13  mode              170653 non-null  int64
 14  name              170653 non-null  object
 15  popularity        170653 non-null  int64
 16  release_date      170653 non-null  object
 17  speechiness       170653 non-null  float64
 18  tempo             170653 non-null  float64
dtypes: float64(9), int64(6), object(4)
memory usage: 24.7+ MB

In [6]:
df.isnull().sum()

valence             0
year                0
acousticness        0
artists             0
danceability        0
duration_ms         0
energy              0
explicit            0
id                  0
instrumentalness    0
key                 0
liveness            0
loudness            0
mode                0
name                0
popularity          0
release_date        0
speechiness         0
tempo               0
dtype: int64

In [7]:
df.shape

(170653, 19)

In [8]:
df["mode"].nunique()

2

In [32]:
grouped=df.groupby("name").agg({"popularity":[np.size,np.sum,np.mean]})

In [33]:
grouped.head()

                          popularity
                                size sum  mean
name
!Que Vida! - Mono Version          1  26  26.0
"40"                               1  23  23.0
"40" - Live                        1  39  39.0
"40" - Remastered 2008             2  71  35.5
"45"                               1  50  50.0

In [34]:
populer=grouped.sort_values(("popularity","mean"),ascending=False)

In [35]:
toplam=grouped["popularity"]["sum"].sum()

In [36]:
populer["percentage"]=populer["popularity","sum"].div(toplam)*100

In [37]:
populer.head()

                                popularity             percentage
                                      size  sum   mean
name
Dakiti                                   1  100  100.0   0.001864
Mood (feat. iann dior)                   1   99   99.0   0.001846
What You Know Bout Love                  1   96   96.0   0.001790
WAP (feat. Megan Thee Stallion)          1   96   96.0   0.001790
Blinding Lights                          1   96   96.0   0.001790

In [38]:
populer.sort_values(("percentage"),ascending=False)

                               popularity                  percentage
                                     size   sum       mean
name
White Christmas                        73  1982  27.150685   0.036951
Winter Wonderland                      63  1943  30.841270   0.036223
Home                                   40  1913  47.825000   0.035664
Summertime                             56  1672  29.857143   0.031171
Stay                                   33  1625  49.242424   0.030295
...                                   ...   ...        ...        ...
Ankhon Ne Kaha Dil Ne Suna              1     0   0.000000   0.000000
Ankhon Men Lagi Raat                    1     0   0.000000   0.000000
Часть 86.2 - Триумфальная арка          1     0   0.000000   0.000000
Στα Γιάννενα στα Δέρβαινα               1     0   0.000000   0.000000
Cielo Azul                              1     0   0.000000   0.000000

[133638 rows x 4 columns]

In [9]:
df1=df[["id","name","popularity","release_date"]]

In [10]:
df1.head()

,id,name,popularity,release_date
0,4BJqT0PrAfrxzMOxytFOIz,"Piano Concerto No. 3 in D Minor, Op. 30: III. ...",4,1921
1,7xPhfUan2yNtyFG0cUWkt8,Clancy Lowered the Boom,5,1921
2,1o6I8BglA6ylDMrIELygv1,Gati Bali,5,1921
3,3ftBPsC5vPBKxYSee08FDH,Danny Boy,3,1921
4,4d6HGyGT8e121BsdKmw9v6,When Irish Eyes Are Smiling,2,1921

In [11]:
import numpy as np

In [12]:
df1.shape

(170653, 4)

In [23]:
sliced_spotify=df1[:10000]

In [24]:
sliced_spotify.shape

(10000, 4)

In [26]:
musicratings=sliced_spotify.pivot_table(index=["id"],columns=["name"],values="popularity")

In [27]:
musicratings.head()

name,"""A"" You're Adorable","""Jubel"" - Overture, Op. 59",' Cello Song,'A vucchella,'Cause I Feel Lowdown,'Cross the Brazos at Waco,'Deed I Do,'Round About Midnight,'Round About Midnight - Rudy Van Gelder Edition/24-Bit Mastering/2002 Digital Remaster,'Round Midnight,...,薔薇訴願,街頭月,西子姑娘 - 一,西子姑娘 - 二,訴衷情,說不出的快活,郎如春日風,魂縈舊夢,鳳凰于飛 - 二,黃葉舞秋風
id,,,,,,,,,,,,,,,,,,,,,
004cCP7Csq7U0m67DDzEFs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
006fbuXS6rRAWlUEaklCmt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
007PHg6gge5dW1wnOEtucm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
007cHgcM8RRS4IYQOaPQ6u,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
008X8kpgdmgWnoYB90s9Ap,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
white=musicratings["White Christmas"]

In [41]:
white

id
004cCP7Csq7U0m67DDzEFs   NaN
006fbuXS6rRAWlUEaklCmt   NaN
007PHg6gge5dW1wnOEtucm   NaN
007cHgcM8RRS4IYQOaPQ6u   NaN
008X8kpgdmgWnoYB90s9Ap   NaN
                          ..
7zmVAVcT1oho7iWJGpApkE   NaN
7zo874QI1WRvHklBM9qjws   NaN
7zph0VMbYl7KoqReyowKiv   NaN
7zrxGPR1UVK2iSK793vLPl   NaN
7zxiwcqLQyWcLdThrsYklu   NaN
Name: White Christmas, Length: 10000, dtype: float64

In [42]:
musicratings.corrwith(white).sort_values(ascending=False)

name
White Christmas               1.0
"A" You're Adorable           NaN
"Jubel" - Overture, Op. 59    NaN
' Cello Song                  NaN
'A vucchella                  NaN
                             ...
說不出的快活                        NaN
郎如春日風                         NaN
魂縈舊夢                          NaN
鳳凰于飛 - 二                      NaN
黃葉舞秋風                         NaN
Length: 8664, dtype: float64