In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("tmdb_5000_credits.csv")

In [3]:
df1=pd.read_csv("tmdb_5000_movies.csv")

In [4]:
df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
df.isnull().sum()

movie_id    0
title       0
cast        0
crew        0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [7]:
df.tail()

,movie_id,title,cast,crew
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [8]:
df1.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [9]:
df1["status"].unique()

array(['Released', 'Post Production', 'Rumored'], dtype=object)

In [10]:
df1.tail()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [11]:
df1["keywords"].unique()

array(['[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]',
       '[{"id": 270, "name": "ocean"}, {"id": 726, "name": "drug abuse"}, {"id": 911, "name": "exotic island"}, {"id": 1319, "name": "east india trading company"}, {"id": 2038, "name": "love of one\'s life"}, {"id": 2052, "name": "traitor"}, {"id": 2580, "name": "shipwreck"}, {"id": 2660, "name": "strong woman"}, {"id": 3799, "name": "ship"}, {"id": 5740, "name": "alliance"}, {"id": 5941, "name": "calypso"}, {"id": 6155, "name": "afterlife"}, {"id": 6211, "name": "fighter"}, {"id": 12988, "name": "pirate"}, {"id": 157186, "name": "swashbuckler"}, {"id": 179430, "name": "aftercreditsstinger"}]',
       '[{"id": 470, "name": "spy"}, {"id": 818, "name": "based on novel"}, {"id": 4289, "name": "secret agent"}, {"id": 9663, "name": "sequel"}, {"id": 14555, "name": "mi6"}, {"id": 156095, "name": "british secret service"}, {"id": 158431, "name": "united kingdom"}]',
       ...,
       '[{"id": 5616, "name": "united states\\u2013mexico barrier"}, {"id": 33649, "name": "legs"}, {"id": 162740, "name": "arms"}, {"id": 187891, "name": "paper knife"}, {"id": 206558, "name": "guitar case"}]',
       '[{"id": 248, "name": "date"}, {"id": 699, "name": "love at first sight"}, {"id": 2398, "name": "narration"}, {"id": 5340, "name": "investigation"}, {"id": 34051, "name": "team"}, {"id": 173066, "name": "postal worker"}]',
       '[{"id": 1523, "name": "obsession"}, {"id": 2249, "name": "camcorder"}, {"id": 9986, "name": "crush"}, {"id": 11223, "name": "dream girl"}]'],
      dtype=object)

In [12]:
df1.drop(["genres","homepage","keywords","original_language","original_title","overview","spoken_languages","status","tagline"],axis=1,inplace=True)

In [13]:
df1.tail()

,budget,id,popularity,production_companies,production_countries,release_date,revenue,runtime,title,vote_average,vote_count
4798,220000,9367,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,El Mariachi,6.6,238
4799,9000,72766,0.642552,[],[],2011-12-26,0,85.0,Newlyweds,5.9,5
4800,0,231617,1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"Signed, Sealed, Delivered",7.0,6
4801,0,126186,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,Shanghai Calling,5.7,7
4802,0,25975,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,My Date with Drew,6.3,16

In [14]:
df=pd.merge(df,df1,on="title",how="outer")

In [15]:
df.head()

,movie_id,title,cast,crew,budget,id,popularity,production_companies,production_countries,release_date,revenue,runtime,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,19995,150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",300000000,285,139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,6.9,4500
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",245000000,206647,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,6.3,4466
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",250000000,49026,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,7.6,9106
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",260000000,49529,43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,6.1,2124

In [16]:
df.shape

(4809, 14)

In [17]:
df.corr()

,movie_id,budget,id,popularity,revenue,runtime,vote_average,vote_count
movie_id,1.000000,-0.089230,0.999843,0.031166,-0.050490,-0.153593,-0.270623,-0.004262
budget,-0.089230,1.000000,-0.089099,0.505515,0.730584,0.269903,0.093061,0.593222
id,0.999843,-0.089099,1.000000,0.031240,-0.050530,-0.153580,-0.270692,-0.004096
popularity,0.031166,0.505515,0.031240,1.000000,0.644724,0.225775,0.273964,0.778205
revenue,-0.050490,0.730584,-0.050530,0.644724,1.000000,0.251341,0.197336,0.781468
runtime,-0.153593,0.269903,-0.153580,0.225775,0.251341,1.000000,0.375072,0.272235
vote_average,-0.270623,0.093061,-0.270692,0.273964,0.197336,0.375072,1.000000,0.313002
vote_count,-0.004262,0.593222,-0.004096,0.778205,0.781468,0.272235,0.313002,1.000000

In [18]:
df.isnull().sum()

movie_id                0
title                   0
cast                    0
crew                    0
budget                  0
id                      0
popularity              0
production_companies    0
production_countries    0
release_date            1
revenue                 0
runtime                 2
vote_average            0
vote_count              0
dtype: int64

In [19]:
import nltk
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize

In [20]:
df["production_companies"]=df["production_companies"].str.lower()

In [21]:
df["production_companies"]=df["production_companies"].str.replace("[^\w\s]","")

C:\Users\MONSTER\AppData\Local\Temp\ipykernel_2256\3913834945.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["production_companies"]=df["production_companies"].str.replace("[^\w\s]","")

In [22]:
df["production_companies"]=df["production_companies"].str.replace("\d+","")

C:\Users\MONSTER\AppData\Local\Temp\ipykernel_2256\2715789097.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["production_companies"]=df["production_companies"].str.replace("\d+","")

In [23]:
df.head()

,movie_id,title,cast,crew,budget,id,popularity,production_companies,production_countries,release_date,revenue,runtime,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,19995,150.437577,name ingenious film partners id name twentiet...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,7.2,11800
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",300000000,285,139.082615,name walt disney pictures id name jerry bruck...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,6.9,4500
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",245000000,206647,107.376788,name columbia pictures id name danjaq id nam...,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,6.3,4466
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",250000000,49026,112.312950,name legendary pictures id name warner bros i...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,7.6,9106
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",260000000,49529,43.926995,name walt disney pictures id,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,6.1,2124

In [24]:
tokens = []
for production_company in df["production_companies"]:
    tokens += word_tokenize(str(production_company))

In [25]:
df7= [token for token in tokens if token != "name"]

In [26]:
df3 = " ".join(df7)

In [27]:
df3=df3.split("id")

In [28]:
df3

['ingenious film partners ',
 ' twentieth century fox film corporation ',
 ' dune entertainment ',
 ' lightstorm entertainment ',
 ' walt disney pictures ',
 ' jerry bruckheimer films ',
 ' second mate productions ',
 ' columbia pictures ',
 ' danjaq ',
 ' b ',
 ' legendary pictures ',
 ' warner bros ',
 ' dc entertainment ',
 ' syncopy ',
 ' walt disney pictures ',
 ' columbia pictures ',
 ' laura ziskin productions ',
 ' marvel enterprises ',
 ' walt disney pictures ',
 ' walt disney animation studios ',
 ' marvel studios ',
 ' prime focus ',
 ' revolution sun studios ',
 ' warner bros ',
 ' heyday films ',
 ' dc comics ',
 ' atlas entertainment ',
 ' warner bros ',
 ' dc entertainment ',
 ' cruel unusual films ',
 ' ratpacdune entertainment ',
 ' dc comics ',
 ' legendary pictures ',
 ' warner bros ',
 ' bad hat harry productions ',
 ' eon productions ',
 ' walt disney pictures ',
 ' jerry bruckheimer films ',
 ' second mate productions ',
 ' walt disney pictures ',
 ' jerry bruckheimer films ',
 ' infinitum nihil ',
 ' silver bullet productions ii ',
 ' blind wink productions ',
 ' classic media ',
 ' legendary pictures ',
 ' warner bros ',
 ' dc entertainment ',
 ' syncopy ',
 ' cruel and unusual films ',
 ' walt disney ',
 ' walden media ',
 ' stillking films ',
 ' ozumi films ',
 ' propeler ',
 ' silverbell films ',
 ' revolution sun studios ',
 ' paramount pictures ',
 ' marvel studios ',
 ' walt disney pictures ',
 ' jerry bruckheimer films ',
 ' moving picture company mpc ',
 ' amblin entertainment ',
 ' media magik entertainment ',
 ' imagenation abu dhabi fz ',
 ' hemisphere media capital ',
 ' parkesmacdonald productions ',
 ' wingnut films ',
 ' new line cinema ',
 ' warner bros pictures ',
 ' foot ',
 ' metrogoldwynmayer mgm ',
 ' columbia pictures ',
 ' laura ziskin productions ',
 ' marvel entertainment ',
 ' imagine entertainment ',
 ' universal pictures ',
 ' scott free productions ',
 ' relativity media ',
 ' wingnut films ',
 ' new line cinema ',
 ' warner bros pictures ',
 ' metrogoldwynmayer mgm ',
 ' new line cinema ',
 ' ingenious film partners ',
 ' depth of field ',
 ' scholastic productions ',
 ' wingnut films ',
 ' universal pictures ',
 ' big primate pictures ',
 ' mfpv film ',
 ' paramount pictures ',
 ' twentieth century fox film corporation ',
 ' lightstorm entertainment ',
 ' studio babelsberg ',
 ' marvel studios ',
 ' walt disney studios motion pictures ',
 ' vitaray dutch productions iii ',
 ' deluxe digital studios ',
 ' universal pictures ',
 ' hasbro ',
 ' bluegrass films ',
 ' film ',
 ' universal studios ',
 ' amblin entertainment ',
 ' legendary pictures ',
 ' fuji television network ',
 ' dentsu ',
 ' columbia pictures ',
 ' columbia pictures ',
 ' laura ziskin productions ',
 ' marvel enterprises ',
 ' marvel studios ',
 ' walt disney pictures ',
 ' team todd ',
 ' tim burton productions ',
 ' roth films ',
 ' zanuck company the ',
 ' ingenious film partners ',
 ' twentieth century fox film corporation ',
 ' donners company ',
 ' dune entertainment ',
 ' major studio partners ',
 ' bad hat harry productions ',
 ' thinkfilm ',
 ' marvel enterprises ',
 ' x canada productions ',
 ' xus productions ',
 ' xm service ',
 ' walt disney pictures ',
 ' pixar animation studios ',
 ' paramount pictures ',
 ' dreamworks skg ',
 ' amblin entertainment ',
 ' di bonaventura pictures ',
 ' platinum dunes ',
 ' hasbro studios ',
 ' revolution sun studios ',
 ' paramount pictures ',
 ' amblin entertainment ',
 ' di bonaventura pictures ',
 ' platinum dunes ',
 ' china movie channel ',
 ' hasbro studios ',
 ' ian bryce productions ',
 ' revolution sun studios ',
 ' walt disney pictures ',
 ' roth films ',
 ' columbia pictures ',
 ' marvel enterprises ',
 ' avi arad productions ',
 ' matt tolmach productions ',
 ' walt disney pictures ',
 ' liveplanet ',
 ' prana studios ',
 ' sean bailey productions ',
 ' revolution sun studios ',
 ' kontsept film company ',
 ' walt disney pictures ',
 ' pixar animation studios ',
 ' de line pictures ',
 ' warner bros ',
 ' dc entertainment ',
 ' walt disney pictures ',
 ' pixar animation studios ',
 ' columbia pictures ',
 ' the halcyon company ',
 ' wonderland sound and vision ',
 ' warner bros ',
 ' universal pictures ',
 ' original film ',
 ' fuji television network ',
 ' dentsu ',
 ' one race films ',
 ' china film co ',
 ' quuebec production services tax credit ',
 ' media rights capital mrc ',
 ' abu dhabi film commission ',
 ' colorado office of film television media ',
 ' paramount pictures ',
 ' gk films ',
 ' skydance productions ',
 ' hemisphere media capital ',
 ' apparatus productions ',
 ' latina pictures ',
 ' duxub ',
 ' twentieth century fox film corporation ',
 ' donners company ',
 ' marvel entertainment ',
 ' bad hat harry productions ',
 ' tsg entertainment ',
 ' down productions ',
 ' revolution sun studios ',
 ' paramount pictures ',
 ' skydance productions ',
 ' bad robot ',
 ' kurtzmanorci ',
 ' new line cinema ',
 ' original film ',
 ' legendary pictures ',
 ' warner bros ',
 ' big k',
 ' pictures ',
 ' bad hat harry productions ',
 ' village roadshow pictures ',
 ' bazmark films ',
 ' warner bros ',
 ' ae television networks ',
 ' red wagon entertainment ',
 ' spectrum films ',
 ' walt disney pictures ',
 ' jerry bruckheimer films ',
 ' legendary pictures ',
 ' warner bros ',
 ' disney double dare you ddy ',
 ' indochina productions ',
 ' paramount pictures ',
 ' di bonaventura pictures ',
 ' indochina productions ',
 ' hasbro studios ',
 ' lucasfilm ',
 ' paramount pictures ',
 ' walt disney pictures ',
 ' pixar animation studios ',
 ' walt disney pictures ',
 ' pixar animation studios ',
 ' paramount pictures ',
 ' bad robot ',
 ' perfect storm entertainment ',
 ' alibaba pictures group ',
 ' skydance media ',
 ' sneaky shark ',
 ' huahua media ',
 ' walt disney pictures ',
 ' pixar animation studios ',
 ' fortyfour studios ',
 ' new line cinema ',
 ' columbia pictures ',
 ' centropolis entertainment ',
 ' the mark gordon company ',
 ' farewell productions ',
 ' walt disney ',
 ' imagemovers ',
 ' village roadshow pictures ',
 ' dune entertainment ',
 ' anarchos productions ',
 ' warner bros ',
 ' village roadshow pictures ',
 ' dark horse entertainment ',
 ' jerry weintraub productions ',
 ' ratpacdune entertainment ',
 ' beagle pug films ',
 ' riche productions ',
 ' village roadshow films north america ',
 ' walt disney ',
 ' walden media ',
 ' twentieth century fox film corporation ',
 ' donners company ',
 ' marvel entertainment ',
 ' bad hat harry productions ',
 ' tsg entertainment ',
 ' kinberg genre ',
 ' dc comics ',
 ' legendary pictures ',
 ' warner bros ',
 ' dc entertainment ',
 ' syncopy ',
 ' pixar animation studios ',
 ' dreamworks animation ',
 ' marvel studios ',
 ' paramount pictures ',
 ' infinitum nihil ',
 ' gk films ',
 ' todman simon lemasters productions ',
 ' warner bros ',
 ' peters entertainment ',
 ' sonnenfeld josephson worldw',
 'e entertainment ',
 ' universal pictures ',
 ' china film coproduction corporation ',
 ' relativity media ',
 ' alphaville films ',
 ' sommers company the ',
 ' dc comics ',
 ' dune entertainment ',
 ' atlas entertainment ',
 ' warner bros ',
 ' dc entertainment ',
 ' columbia pictures ',
 ' universal pictures ',
 ' spyglass entertainment ',
 ' shady acres entertainment ',
 ' original film ',
 ' playtone ',
 ' relativity media ',
 ' village roadshow pictures ',
 ' warner bros ',
 ' viz media ',
 ' province of british columbia production services tax credit ',
 ' arts entertainment ',
 ' ratpacdune entertainment ',
 ' universal pictures ',
 ' gordon company ',
 ' davis entertainment ',
 ' lichtmueller film corporation ',
 ' paramount pictures ',
 ' spyglass entertainment ',
 ' di bonaventura pictures ',
 ' hasbro ',
 ' kontsept film company ',
 ' walt disney pictures ',
 ' pixar animation studios ',
 ' walt disney pictures ',
 ' walt disney studios motion pictures ',
 ' fairview entertainment ',
 ' moving picture company mpc ',
 ' marvel studios ',
 ' universal pictures ',
 ' roth films ',
 ' walt disney pictures ',
 ' walt disney studios motion pictures ',
 ' roth films ',
 ' ingenious media ',
 ' chernin entertainment ',
 ' tsg entertainment ',
 ' corsan ',
 ' bliss media ',
 ' limelight international media entertainment ',
 ' neelmudra entertainment ',
 ' aristos films ',
 ' singularity productions ',
 ' wildkite ',
 ' m',
 ' atlantic films ',
 ' stuber productions ',
 ' universal ',
 ' moving picture company mpc ',
 ' hf entertainment ',
 ' marvel studios ',
 ' dreamworks animation ',
 ' walt disney pictures ',
 ' babieka ',
 ' a ',
 ' walt disney pictures ',
 ' walt disney animation studios ',
 ' walt disney animation studios ',
 ' golden mean ',
 ' playtone ',
 ' imagemovers ',
 ' twentieth century fox film corporation ',
 ' centropolis entertainment ',
 ' tsg entertainment ',
 ' stereo d ',
 ' dreamworks animation ',
 ' vertigo entertainment ',
 ' mad hatter entertainment ',
 ' columbia pictures ',
 ' intermedia films ',
 ' warner bros ',
 ' c pictures ',
 ' imf internationale medien und film gmbh co produktions kg ',
 ' mostowlieberman productions ',
 ' marvel studios ',
 ' moving picture company mpc ',
 ' bulletproof cup',
 ' ',
 ' revolution sun studios ',
 ' paramount pictures ',
 ' legendary pictures ',
 ' warner bros ',
 ' syncopy ',
 ' lynda obst productions ',
 ' legendary pictures ',
 ' warner bros ',
 ' syncopy ',
 ' cine bazar ',
 ' toho pictures ',
 ' wingnut films ',
 ' new line cinema ',
 ' warner bros pictures ',
 ' metrogoldwynmayer mgm ',
 ' universal pictures ',
 ' original film ',
 ' ardustry entertainment ',
 ' mediastream film gmbh co productions kg ',
 ' paramount pictures ',
 ' warner bros ',
 ' kennedymarshall company the ',
 ' ingenious film partners ',
 ' ingenious media ',
 ' twentieth century fox film corporation ',
 ' donners company ',
 ' dune entertainment ',
 ' dune entertainment iii ',
 ' marvel entertainment ',
 ' bad hat harry productions ',
 ' big screen productions ',
 ' studio babelsberg ',
 ' lionsgate ',
 ' color force ',
 ' walt disney pictures ',
 ' jerry bruckheimer films ',
 ' saturn films ',
 ' broken road productions ',
 ' junction entertainment ',
 ' virtual studios ',
 ' next entertainment ',
 ' warner bros ',
 ' irwin allen productions ',
 ' radiant productions ',
 ' synthesis entertainment ',
 ' walt disney pictures ',
 ' team todd ',
 ' tim burton productions ',
 ' roth films ',
 ' legendd ',
 ' dreamworks skg ',
 ' dreamworks animation ',
 ' universal pictures ',
 ' atlas entertainment ',
 ' legendary pictures ',
 ' blizzard entertainment ',
 ' paramount pictures ',
 ' annapurna pictures ',
 ' skydance media ',
 ' dune entertainment ',
 ' fox pictures ',
 ' walden media ',
 ' jerry bruckheimer films ',
 ' touchstone pictures ',
 ' paramount pictures ',
 ' dreamworks skg ',
 ' amblin entertainment ',
 ' di bonaventura pictures ',
 ' platinum dunes ',
 ' thinkfilm ',
 ' sprocketheads ',
 ' hasbro studios ',
 ' revolution sun studios ',
 ' france cinuema ',
 ' intermedia films ',
 ' pathue renn productions ',
 ' egmond film television ',
 ' warner bros ',
 ' pacifica film ',
 ' imf internationale medien und film gmbh co produktions kg ',
 ' wr universal group ',
 ' warner bros ',
 ' heyday films ',
 ' patalex iv productions limited ',
 ' warner bros ',
 ' heyday films ',
 ' columbia pictures ',
 ' weed road pictures ',
 ' forward pass ',
 ' relativity media ',
 ' overbrook entertainment ',
 ' blue light ',
 ' gh three ',
 ' village roadshow pictures ',
 ' original film ',
 ' weed road pictures ',
 ' warner bros ',
 ' heyday films ',
 ' overbrook entertainment ',
 ' village roadshow pictures ',
 ' the zanuck company ',
 ' warner bros ',
 ' tim burton productions ',
 ' plan b entertainment ',
 ' theobald film productions ',
 ' walt disney pictures ',
 ' pixar animation studios ',
 ' dc comics ',
 ' legendary pictures ',
 ' warner bros ',
 ' dc entertainment ',
 ' syncopy ',
 ' patalex iii productions limited ',
 ' dreamworks animation ',
 ' twentieth century fox film corporation ',
 ' pictures ',
 ' dune entertainment ',
 ' laps entertainment ',
 ' museum canada productions ',
 ' moving picture company mpc ',
 ' ingenious film partners ',
 ' twentieth century fox film corporation ',
 ' donners company ',
 ' dune entertainment ',
 ' seed productions ',
 ' bad hat harry productions ',
 ' big screen productions ',
 ' marvel enterprises ',
 ' village roadshow pictures ',
 ' npv entertainment ',
 ' silver pictures ',
 ' warner bros ',
 ' walt disney pictures ',
 ' walt disney animation studios ',
 ' village roadshow pictures ',
 ' npv entertainment ',
 ' heineken branded entertainment ',
 ' silver pictures ',
 ' warner bros ',
 ' marvel studios ',
 ' village roadshow pictures ',
 ' kennedy miller productions ',
 ' warner bros ',
 ' columbia pictures ',
 ' imagine entertainment ',
 ' panorama films ',
 ' skylark productions ',
 ' marvel studios ',
 ' walt disney animation studios ',
 ' walt disney pictures ',
 ' jerry bruckheimer films ',
 ' whamaphram productions ',
 ' legendary pictures ',
 ' thunder road pictures ',
 ' warner bros ',
 ' cott productions ',
 ' furia de titanes ii aie ',
 ' village roadshow pictures ',
 ' infinitum nihil ',
 ' gk films ',
 ' warner bros ',
 ' tim burton productions ',
 ' dan curtis productions ',
 ' zanuck company the ',
 ' paramount pictures ',
 ' skydance productions ',
 ' china movie channel ',
 ' bad robot ',
 ' tc productions ',
 ' alibaba pictures group ',
 ' odin ',
 ' universal pictures ',
 ' stuber productions ',
 ' relativity media ',
 ' pacific data images pdi ',
 ' dreamworks animation ',
 ' columbus productions ',
 ' dreamworks animation ',
 ' paramount pictures ',
 ' nickelodeon movies ',
 ' kennedymarshall company the ',
 ' industrial light magic ilm ',
 ' blinding edge pictures ',
 ' paramount pictures ',
 ' cruisewagner productions ',
 ' studio babelsberg ',
 ' mi film ',
 ' china film coproduction corporation ',
 ' china film group corporation cfgc ',
 ' the fourth production company film group ',
 ' columbia pictures ',
 ' centropolis entertainment ',
 ' iron horse entertainment ii ',
 ' mythology entertainment ii ',
 ' walt disney animation studios ',
 ' aardman animations ',
 ' dreamworks animation ',
 ' warner bros ',
 ' moving picture company mpc ',
 ' berlanti productions ',
 ' ratpacdune entertainment ',
 ' pacific data images pdi ',
 ' dreamworks animation ',
 ' classic media productions ',
 ' bullwinkle studios ',
 ' plan b entertainment ',
 ' warner bros ',
 ' nimar studios ',
 ' radiant productions ',
 ' helena productions ',
 ' latina pictures ',
 ' dreamworks animation ',
 ' eon productions ',
 ' columbia pictures ',
 ' village roadshow pictures ',
 ' montecito picture company the ',
 ' lstar capital ',
 ' feigco entertainment ',
 ' pascal pictures ',
 ' ghostcorps ',
 ' jerry bruckheimer films ',
 ' touchstone pictures ',
 ' valhalla motion pictures ',
 ' columbia pictures ',
 ' amblin entertainment ',
 ' columbia pictures corporation ',
 ' parkesmacdonald image nation ',
 ' paramount pictures ',
 ' shangrila entertainment ',
 ' imagemovers ',
 ' paramount animation ',
 ' twentieth century fox film corporation ',
 ' dreamworks animation ',
 ' china film co ',
 ' oriental dreamworks ',
 ' paramount pictures ',
 ' skydance productions ',
 ' bad robot ',
 ' tc productions ',
 ' revolution sun studios ',
 ' kontsept film company ',
 ' dreamworks animation ',
 ' imagine entertainment ',
 ' columbia pictures corporation ',
 ' jc entertainment ',
 ' cruisewagner productions ',
 ' warner bros ',
 ' radar pictures ',
 ' bedford falls company the ',
 ' scott free productions ',
 ' chernin entertainment ',
 ' babieka ',
 ' volcano films ',
 ' paramount pictures ',
 ' spyglass entertainment ',
 ' bad robot ',
 ' mavrocine pictures gmbh co kg ',
 ' columbia pictures ',
 ' marvel enterprises ',
 ' dreamworks animation ',
 ' mad hatter entertainment ',
 ' summit entertainment ',
 ' mystery clock cinema ',
 ' thunder road pictures ',
 ' tik films ',
 ' pyramania ',
 ' laura ziskin productions ',
 ' original film ',
 ' columbia pictures corporation ',
 ' phoenix pictures ',
 ' afg talons productions ',
 ' paramount pictures ',
 ' dc comics ',
 ' lawrence gordon productions ',
 ' legendary pictures ',
 ' warner bros ',
 ' cruel and unusual films ',
 ' silver pictures ',
 ' donnershulerdonner productions ',
 ' warner bros ',
 ' universal pictures ',
 ' good machine ',
 ' valhalla motion pictures ',
 ' marvel enterprises ',
 ' paramount pictures ',
 ' di bonaventura pictures ',
 ' hasbro ',
 ' skydance productions ',
 ' metrogoldwynmayer mgm ',
 ' saints la ',
 ' paramount pictures ',
 ' bristol bay productions ',
 ' baldwin entertainment group ',
 ' desertlands entertainment ',
 ' mace neufeld productions ',
 ' kanzaman ',
 ' jk livin productions ',
 ' moguletta ',
 ' sahara productions ',
 ' babelsberg film ',
 ' columbia pictures ',
 ' square usa ',
 ' chris lee productions ',
 ' marvel studios ',
 ' eon productions ',
 ' metrogoldwynmayer mgm ',
 ' universal pictures ',
 ' twentieth century fox film corporation ',
 ' samuel goldwyn films ',
 ' miramax ',
 ' summit entertainment ',
 ' sunswept entertainment ',
 ' temple hill entertainment ',
 ' village roadshow pictures ',
 ' warner bros ',
 ' dr d studios ',
 ' kennedy miller mitchell ',
 ' universal pictures ',
 ' marvel studios ',
 ' valhalla motion pictures ',
 ' mvl incredible productions ',
 ' walt disney pictures ',
 ' amblin entertainment ',
 ' reliance entertainment ',
 ' kennedymarshall company the ',
 ' walden media ',
 ' regency enterprises ',
 ' appian way ',
 ' catchplay ',
 ' anonymous content ',
 ' new regency pictures ',
 ' hong kong alpha motion pictures co ',
 ' ratpac entertainment ',
 ' m productions ',
 ' monarchy enterprises sarl ',
 ' dreamworks animation ',
 ' paramount pictures ',
 ' nickelodeon movies ',
 ' gk films ',
 ' blind wink ',
 ' paramount animation ',
 ' dreamworks animation ',
 ' universal pictures ',
 ' the kennedymarshall company ',
 ' ludlum entertainment ',
 ' motion picture beta produktionsgesellschaft ',
 ' bourne again ',
 ' dreamworks animation ',
 ' marvel studios ',
 ' lionsgate ',
 ' color force ',
 ' twentieth century fox film corporation ',
 ' dreamworks animation ',
 ' paramount pictures ',
 ' dreamworks skg ',
 ' cruisewagner productions ',
 ' amblin entertainment ',
 ' columbia pictures corporation ',
 ' don simpsonjerry bruckheimer films ',
 ' dreamworks ',
 ' columbia pictures ',
 ' di bonaventura pictures ',
 ' relativity media ',
 ' wintergreen productions ',
 ' paramount pictures ',
 ' regency enterprises ',
 ' protozoa pictures ',
 ' disruption entertainment ',
 ' paramount pictures ',
 ' columbia pictures ',
 ' wingnut films ',
 ' amblin entertainment ',
 ' nickelodeon movies ',
 ' kennedymarshall company the ',
 ' hemisphere media capital ',
 ' pictures ',
 ' heyday films ',
 ' warner bros ',
 ' bazmark films ',
 ' ingenious film partners ',
 ' twentieth century fox film corporation ',
 ' dune entertainment iii ',
 ' screenwest ',
 ' columbia pictures ',
 ' blinding edge pictures ',
 ' overbrook entertainment ',
 ' walt disney pictures ',
 ' walt disney feature animation ',
 ' twentieth century fox film corporation ',
 ' pictures ',
 ' laps entertainment ',
 ' moving picture company mpc ',
 ' tsg entertainment ',
 ' dreamworks animation ',
 ' pictures ',
 ' warner bros ',
 ' heyday films ',
 ' universal pictures ',
 ' original film ',
 ' dark horse entertainment ',
 ' walt disney pictures ',
 ' jerry bruckheimer films ',
 ' lionsgate ',
 ' color force ',
 ' columbia pictures ',
 ' imagine entertainment ',
 ' skylark productions ',
 ' government of malta ',
 ' blue sky studios ',
 ' twentieth century fox animation ',
 ' twentieth century fox film corporation ',
 ' donners company ',
 ' bad hat harry productions ',
 ' marvel enterprises ',
 ' xm productions ',

In [29]:
with open("production companies.txt", "w") as file:
    file.writelines('\n'.join(map(str, df3)))

In [30]:
df5=pd.read_csv("production companies.txt",sep="\t",header=0,names=["production_companies"])

In [31]:
df10=df.drop(["production_companies","production_countries","crew"],axis=1,inplace=True)

In [32]:
df["companies"]=df5["production_companies"]

In [33]:
df

,movie_id,title,cast,budget,id,popularity,release_date,revenue,runtime,vote_average,vote_count,companies
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",237000000,19995,150.437577,2009-12-10,2787965087,162.0,7.2,11800,twentieth century fox film corporation
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...",300000000,285,139.082615,2007-05-19,961000000,169.0,6.9,4500,dune entertainment
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",245000000,206647,107.376788,2015-10-26,880674609,148.0,6.3,4466,lightstorm entertainment
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",250000000,49026,112.312950,2012-07-16,1084939099,165.0,7.6,9106,walt disney pictures
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...",260000000,49529,43.926995,2012-03-07,284139100,132.0,6.1,2124,jerry bruckheimer films
...,...,...,...,...,...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...",220000,9367,14.269792,1992-09-04,2040920,81.0,6.6,238,gk films
4805,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...",9000,72766,0.642552,2011-12-26,0,85.0,5.9,5,thunder road pictures
4806,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...",0,231617,1.444476,2013-10-13,0,120.0,7.0,6,warner bros
4807,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...",0,126186,0.857008,2012-05-03,0,98.0,5.7,7,alcon entertainment
4808,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...",0,25975,1.929883,2005-08-05,0,90.0,6.3,16,lionsgate

In [34]:
df["companies"].nunique()
#1526 çok olduğundan isimlerini bulabildiğim birkaç tanesiyle yapmayı deneyeceğim

1526

In [35]:
df["companies"]=df["companies"].replace([" twentieth century fox film corporation "],0)
df["companies"]=df["companies"].replace([" dune entertainment "],1)
df["companies"]=df["companies"].replace([" lightstorm entertainment "],2)
df["companies"]=df["companies"].replace([" red lion sarl "],3)
df["companies"]=df["companies"].replace("ea filmproduktions ",4)
df["companies"]=df["companies"].replace([" chartoff winkler productions "],5)
df["companies"]=df["companies"].replace([" sony pictures entertainment "],6)
df["companies"]=df["companies"].replace([" fox pictures "],7)
df["companies"]=df["companies"].replace([" ingenious film partners "],8)
df["companies"]=df["companies"].replace([" walt disney pictures "],9)
df["companies"]=df["companies"].replace([" jerry bruckheimer films "],10)
df["companies"]=df["companies"].replace([" gk films "],11)
df["companies"]=df["companies"].replace([" thunder road pictures "],12)
df["companies"]=df["companies"].replace([" warner bros "],13)
df["companies"]=df["companies"].replace([" alcon entertainment "],14)
df["companies"]=df["companies"].replace([" lionsgate "],15)
df["companies"]=df["companies"].replace([" second mate productions "],16)
df["companies"]=df["companies"].replace([" columbia pictures "],17)
df["companies"]=df["companies"].replace([" danjaq "],18)
df["companies"]=df["companies"].replace([" b "],19)
df["companies"]=df["companies"].replace([" legendary pictures "],20)
df["companies"]=df["companies"].replace([" dc entertainment "],21)
df["companies"]=df["companies"].replace([" syncopy "],22)
df["companies"]=df["companies"].replace([" laura ziskin productions "],23)
df["companies"]=df["companies"].replace([" marvel enterprises "],24)
df["companies"]=df["companies"].replace([" walt disney animation studios "],25)
df["companies"]=df["companies"].replace([" marvel studios "],26)
df["companies"]=df["companies"].replace([" prime focus "],27)
df["companies"]=df["companies"].replace([" revolution sun studios "],28)
df["companies"]=df["companies"].replace([" heyday films "],29)
df["companies"]=df["companies"].replace([" dc comics "],30)

In [36]:
df["companies"].unique()

array([0, 1, 2, ..., 3, 4, 5], dtype=object)

In [37]:
df.companies.info()

<class 'pandas.core.series.Series'>
Int64Index: 4809 entries, 0 to 4808
Series name: companies
Non-Null Count  Dtype
--------------  -----
4809 non-null   object
dtypes: object(1)
memory usage: 75.1+ KB

In [38]:
df.companies.isnull().sum()

0

In [39]:
df["companies"]=pd.to_numeric(df["companies"],errors="coerce")

In [40]:
df["companies"].isnull().sum()

4056

In [41]:
df["companies"].nunique()

31

In [42]:
df

,movie_id,title,cast,budget,id,popularity,release_date,revenue,runtime,vote_average,vote_count,companies
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",237000000,19995,150.437577,2009-12-10,2787965087,162.0,7.2,11800,0.0
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...",300000000,285,139.082615,2007-05-19,961000000,169.0,6.9,4500,1.0
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",245000000,206647,107.376788,2015-10-26,880674609,148.0,6.3,4466,2.0
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",250000000,49026,112.312950,2012-07-16,1084939099,165.0,7.6,9106,9.0
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...",260000000,49529,43.926995,2012-03-07,284139100,132.0,6.1,2124,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...",220000,9367,14.269792,1992-09-04,2040920,81.0,6.6,238,11.0
4805,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...",9000,72766,0.642552,2011-12-26,0,85.0,5.9,5,12.0
4806,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...",0,231617,1.444476,2013-10-13,0,120.0,7.0,6,13.0
4807,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...",0,126186,0.857008,2012-05-03,0,98.0,5.7,7,14.0
4808,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...",0,25975,1.929883,2005-08-05,0,90.0,6.3,16,15.0

In [43]:
df["companies"].unique()

array([ 0.,  1.,  2.,  9., 10., 16., 17., 18., 19., 20., 13., 21., 22.,
       23., 24., 25., 26., 27., 28., 29., 30., nan,  8., 11., 15.,  7.,
       12.,  6., 14.,  3.,  4.,  5.])

In [44]:
df["companies"]=df["companies"].fillna(df["companies"].mean())

In [46]:
df.drop(["release_date","cast"],axis=1)

,movie_id,title,budget,id,popularity,revenue,runtime,vote_average,vote_count,companies
0,19995,Avatar,237000000,19995,150.437577,2787965087,162.0,7.2,11800,0.0
1,285,Pirates of the Caribbean: At World's End,300000000,285,139.082615,961000000,169.0,6.9,4500,1.0
2,206647,Spectre,245000000,206647,107.376788,880674609,148.0,6.3,4466,2.0
3,49026,The Dark Knight Rises,250000000,49026,112.312950,1084939099,165.0,7.6,9106,9.0
4,49529,John Carter,260000000,49529,43.926995,284139100,132.0,6.1,2124,10.0
...,...,...,...,...,...,...,...,...,...,...
4804,9367,El Mariachi,220000,9367,14.269792,2040920,81.0,6.6,238,11.0
4805,72766,Newlyweds,9000,72766,0.642552,0,85.0,5.9,5,12.0
4806,231617,"Signed, Sealed, Delivered",0,231617,1.444476,0,120.0,7.0,6,13.0
4807,126186,Shanghai Calling,0,126186,0.857008,0,98.0,5.7,7,14.0
4808,25975,My Date with Drew,0,25975,1.929883,0,90.0,6.3,16,15.0

In [48]:
import numpy as np

In [50]:
grouped=df.groupby("companies").agg({"vote_average":[np.size,np.sum,np.mean]})

In [51]:
populer=grouped.sort_values(("vote_average","mean"),ascending=False)

In [52]:
populer.head()

          vote_average
                  size   sum  mean
companies
19.0                 1   7.4  7.40
18.0                 1   7.3  7.30
5.0                  1   6.9  6.90
2.0                  5  33.8  6.76
25.0                 7  46.2  6.60

In [53]:
toplam=grouped["vote_average"]["sum"].sum()

In [54]:
populer["percentage"]=populer["vote_average","sum"].div(toplam)*100

In [55]:
populer

          vote_average                    percentage
                  size      sum      mean
companies
19.000000            1      7.4  7.400000   0.025257
18.000000            1      7.3  7.300000   0.024916
5.000000             1      6.9  6.900000   0.023550
2.000000             5     33.8  6.760000   0.115363
25.000000            7     46.2  6.600000   0.157685
11.000000            9     58.8  6.533333   0.200690
24.000000           15     97.7  6.513333   0.333460
27.000000            1      6.5  6.500000   0.022185
22.000000            8     51.8  6.475000   0.176798
30.000000           11     70.5  6.409091   0.240623
6.000000             3     18.9  6.300000   0.064508
15.000000           16     99.5  6.218750   0.339603
12.000000            7     43.4  6.200000   0.148128
3.000000             1      6.2  6.200000   0.021161
4.000000             1      6.2  6.200000   0.021161
26.000000           13     80.4  6.184615   0.274413
10.000000           18    111.1  6.172222   0.379195
20.000000           28    172.8  6.171429   0.589783
14.000000            8     49.0  6.125000   0.167242
23.000000            4     24.5  6.125000   0.083621
8.000000            21    128.3  6.109524   0.437900
21.000000            9     54.9  6.100000   0.187379
12.103586         4056  24705.3  6.091050  84.321596
17.000000          113    687.5  6.084071   2.346504
0.000000           110    666.3  6.057273   2.274147
13.000000          190   1149.8  6.051579   3.924379
28.000000           14     84.7  6.050000   0.289089
29.000000           10     60.4  6.040000   0.206151
1.000000            36    216.0  6.000000   0.737229
9.000000            68    406.1  5.972059   1.386059
7.000000            22    129.1  5.868182   0.440631
16.000000            2     11.6  5.800000   0.039592

In [56]:
populer.sort_values(("percentage"),ascending=False)

          vote_average                    percentage
                  size      sum      mean
companies
12.103586         4056  24705.3  6.091050  84.321596
13.000000          190   1149.8  6.051579   3.924379
17.000000          113    687.5  6.084071   2.346504
0.000000           110    666.3  6.057273   2.274147
9.000000            68    406.1  5.972059   1.386059
1.000000            36    216.0  6.000000   0.737229
20.000000           28    172.8  6.171429   0.589783
7.000000            22    129.1  5.868182   0.440631
8.000000            21    128.3  6.109524   0.437900
10.000000           18    111.1  6.172222   0.379195
15.000000           16     99.5  6.218750   0.339603
24.000000           15     97.7  6.513333   0.333460
28.000000           14     84.7  6.050000   0.289089
26.000000           13     80.4  6.184615   0.274413
30.000000           11     70.5  6.409091   0.240623
29.000000           10     60.4  6.040000   0.206151
11.000000            9     58.8  6.533333   0.200690
21.000000            9     54.9  6.100000   0.187379
22.000000            8     51.8  6.475000   0.176798
14.000000            8     49.0  6.125000   0.167242
25.000000            7     46.2  6.600000   0.157685
12.000000            7     43.4  6.200000   0.148128
2.000000             5     33.8  6.760000   0.115363
23.000000            4     24.5  6.125000   0.083621
6.000000             3     18.9  6.300000   0.064508
16.000000            2     11.6  5.800000   0.039592
19.000000            1      7.4  7.400000   0.025257
18.000000            1      7.3  7.300000   0.024916
5.000000             1      6.9  6.900000   0.023550
27.000000            1      6.5  6.500000   0.022185
4.000000             1      6.2  6.200000   0.021161
3.000000             1      6.2  6.200000   0.021161

In [57]:
#ilk sıradaki seçtiğim 31 tanenin dışındaki hepsi olduğu için asıl en iyi şirket 13 olarak anlandırdığım şirkettir.
#warner bros